<section class="navbar-section">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
          <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" alt="myzeed"></a>
          <div class="my-acc mob-my-acc ml-auto mr-3 d-lg-none  form-inline">
              <div class="wrapper">
                  <img src="../../assets/images/user.png" alt="">
              </div>
              <div class="acc-menu">
                  <ul>
                      <li>
                          <a href="account.php"><img class="grey" src="../../assets/images/user-1.png" alt=""><img class="green"
                                  src="../../assets/images/user.png" alt=""><span>My Profile</span></a>
                      </li>
                      <li>
                          <a href="notification.php"><img class="grey" src="../../assets/images/not.png" alt=""><img class="green"
                                  src="../../assets/images/not-grn.png" alt=""><span>Notification</span></a>
                      </li>
                      <li>
                          <a href=""><img class="grey" src="../../assets/images/logout.png" alt=""><img class="green"
                                  src="../../assets/images/logout-grn.png" alt=""><span>Logout</span></a>
                      </li>
                  </ul>
              </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="index.php"><img src="../../assets/images/home.png" alt=""> <span
                              class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="domesticEducation.php">Colleges</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="couses.php">Courses</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="top-exam.php">Exam</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="find-job.php">Find Jobs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="request.php">Request Appointment </a>
                  </li>
              </ul>
              <div class="my-acc form-inline d-none d-lg-inline">
                  <div class="wrapper">
                      <img src="../../assets/images/user.png" alt="">
                      <span>Account</span>
                  </div>
                  <div class="acc-menu">
                      <ul>
                          <li>
                              <a data-toggle="modal" data-target="#login"><img class="grey" src="../../assets/images/user-1.png" alt=""><img class="green"
                                      src="../../assets/images/user.png" alt=""><span>My Profile</span></a>
                          </li>
                          <li>
                              <a href="notification.php"><img class="grey" src="../../assets/images/not.png" alt=""><img class="green"
                                      src="../../assets/images/not-grn.png" alt=""><span>Notification</span></a>
                          </li>
                          <li>
                              <a href=""><img class="grey" src="../../assets/images/logout.png" alt=""><img class="green"
                                      src="../../assets/images/logout-grn.png" alt=""><span>Logout</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
  </div>
</section>
