<section class="footer-section">
  <div class="container">

      <div class="row">
          <div class="col-md-6 col-lg-4">
              <img class="footerLogo" src="../../assets/images/logo.png" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text.</p>
          </div>
          <div class="col-md-6 col-lg-3">
              <h1>About</h1>
              <ul>
                  <li><a href="about.php">About US</a></li>
                  <li><a href="">Management Team</a></li>
                  <li><a href="account.php">My Account</a></li>
                  <li><a href="">Advertise With Us</a></li>
                  <li><a href="contact.php">Contact US</a></li>
              </ul>
          </div>
          <div class="col-md-6 col-lg-2">
              <h1>Others</h1>
              <ul>
                  <li><a href="careers.php">Careers</a></li>
                  <li><a href="faq.php">FAQ</a></li>
                  <li><a href="terms-condition.php">Terms & Conditions</a></li>
                  <li><a href="">Advertise With Us</a></li>
                  <li><a href="privacy-policy.php">Privacy Policy</a></li>
                  <li><a href="">Sitemap</a></li>
              </ul>
          </div>
          <div class="col-md-6 col-lg-3">
              <h1>Follow Us</h1>
              <ul class="s-media">
                  <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
              <h2><a href=""><img src="../../assets/images/mail.png" alt=""></a><span>info@myzeed.com</span></h2>
              <h2><a href=""><img src="../../assets/images/phone.png" alt=""></a><span>+91 9876543210</span></h2>
          </div>

      </div>
      <div class="footer-bottom">
          <span>Copyright</span><img src="../../assets/images/copy.png" alt=""><span>2020 Myzeed, All rights reserved</span>
      </div>
  </div>
</section>
